body {
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

.mega-container {
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
}

header {
    max-width: 100%;
    background-color: rgb(110, 110, 245);
    height: 80px;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}

.mobile {
    flex-basis:100%;
}

.mobile, .desk {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desk {
    display: none;
    width: 70%;
    margin: auto;
}

header i {
    font-size: 40px;
    font-weight: 700;
}


/* Bottoni  */

.btn {
    padding: 8px;
    border-radius: 8px;
}

.blue {
    background-color: rgb(51, 51, 255);
    color: white;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;

}

.white {
    color: black;
    background-color: white;
}

/* Stili sezione Demo  */

#demo {
    max-width: 100%;
}

.row {
    max-width: 100%;
    padding-top: 25px;
}

.col, .col-xl {
    padding: 20px;
    max-width: 100%;
}

.card {
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: aqua;
    color: rgb(51, 51, 255);
    border-radius: 30px;
    padding: 10px;
}

.card h4 {
    font-weight: 700;
    font-size: 22px;
}

.card p {
    color: rgb(75, 69, 69);
    font-weight: 700;
    line-height: 30px;
}
.card img {
    padding-top: 30px;
    max-width: 80%;
    display: block;
    margin: auto;
}

.icons {
    color: rgb(51, 51, 255);
    font-size: 60px;
    
}

.btn .blue i {
    padding: 15px;
} 

/* Stili sezione Strategic  */

.strategic {
    background-color: rgb(167, 125, 206);
    padding: 20px;
}

.cont-strategic {
    max-width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.cont-strategic img {
    display: block;
    max-width: 90%;
    margin: auto;
}

.cont-strategic h4 {
    font-size: 30px;
    font-weight: 900;
}

.plan2 {
    background-color: white;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    color: black;
    padding: 20px;
}

.plan2 p {
    padding-bottom: 30px;
}


.arrowdown {
    color: white;
    display: inline-block;
    padding: 2rem;
    border-radius: 50%;
    background-color: violet;
}

/* Sezione Testimonials  */

.cont-test {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.cont-test h4 {
    color: violet;
    font-size: 36px;
    font-weight: 800;
}

.cont-test h6 {
    font-size: 22px;
    font-weight: 700;
}

.card-test {
    background-color: violet;
    border-radius: 30px;
    color: white;
}

.card-test img {
    display: block;
    max-width: 50%;
    margin: auto;

    
}

.img-card {
    width: 50%;
    margin: auto;
    border-radius: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
    position: relative;
}

.mask {

    background-color: violet;
    margin: auto;
    flex-basis: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 500;
    
}

/* CSS RESPONSIVE TABLET  */

@media all and (min-width:481px) and (max-width:768px){

.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex-basis: calc(100% / 3 - 40px); 
}

.col-xl {
    flex-basis: calc(100% / 1.5 - 40px);
   
}

.col, .col-xl {
    display: flex;
    align-items: stretch;
}



}

/* CSS RESPONSIVE DESKTOP  */

    
@media all and (min-width:769px){

    header {padding: 0;}

    .desk {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile {
        display: none;
    }
    .nav-right ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
    
    .nav-right li {
        padding-left: 10px;
        padding-right: 10px;
    }

    #demo {
        max-width: 75%;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        flex-basis: calc(100% / 3 - 40px);  
    }
    
    .col-xl {
        flex-basis: calc(100% / 1.5 - 40px);
    }

    /* nella ver. desktop wrappa  */
    .cont-strategic {
        max-width: 75%;
        margin: auto;
        text-align: center;
        color: white;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .plan1, .plan2 {
        flex-basis: 45%;
    }
}